body {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    scrollbar-width: none;
    background-color: lightgray;
}

.footer {
    background-color: #2d2d2d;
    box-shadow: 0 0 30pt 2pt #121212;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navbar {
    font-weight: 650;
    background-color: white;
}

#splash {
    box-sizing: border-box;
    margin: 5vw;
    padding: 5vw;
    width: 90vw;
    background-color: white;
}

#splash-text {
    font-size: 7vw;
    font-weight: 900;
}

#splash-text-blue {
    color: #287dd6;
}

#splash-text-maroon {
    color: #8A1538;
}