h3 {
    margin-top: 2em;
}

body {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    scrollbar-width: none;
    background-color: lightgray;
}

.footer {
    background-color: #2d2d2d;
    box-shadow: 0 0 30pt 2pt #121212;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navbar {
    font-weight: 650;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 15pt 2pt #737373;
}

#splash {
    box-sizing: border-box;
    margin: 5vw 5vw 10vw 5vw;
    padding: 5vw 5vw 7vw 5vw;
    width: 90%;
    background-color: white;
    border-radius: 1rem;
}

#splash-text {
    font-size: 7vw;
    font-weight: 900;
}

#splash-text-blue {
    color: #287dd6;
}

#splash-text-maroon {
    color: #8A1538;
}

#results {
    margin-top: 2vh;
}

.dropdown-menu {
    position: fixed;
    right: 0;
    left: auto;
    top: auto;
    transform: translateX(-3.9em);
}

.nav-link .material-symbols-outlined {
    margin-right: 0.1em;
}

.card {
    margin-top: 2em;
    width: 100%;
}

.card-body {
    height: 6em; /* Set the maximum height of the card body */
    overflow: hidden; /* Hide the overflow text */
}

.card-title {
    font-size: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
}

.card-text {
    font-size: 1.2em; 
    font-weight: bold;
    white-space: normal; /* Allow the card text to wrap onto multiple lines */
    overflow: hidden; /* Hide the overflow text */
}

.card-img-top {
    height: 15em; /* Set a fixed height for the card image */
    max-width: 100%; /* Ensure the image covers the entire space */
    object-fit: contain; /* Maintain aspect ratio and cover the entire space */
}

#results {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.commentText {
    transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.commentText:hover {
    background-color: #f0f0f0 !important;
}

.delete {
    border: none;
    width: 0em;
}