body {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    scrollbar-width: none;
    background-color: lightgray;
}

.footer {
    background-color: #2d2d2d;
    box-shadow: 0 0 30pt 2pt #121212;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navbar {
    font-weight: 650;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 15pt 2pt #737373;
}

#splash {
    box-sizing: border-box;
    margin: 5vw 5vw 12vw 5vw;
    padding: 5vw 5vw 7vw 5vw;
    width: 90%;
    background-color: white;
    border-radius: 1rem;
}

#splash-text {
    font-size: 7vw;
    font-weight: 900;
}

#profile-pic {
    max-width: 90%;
    border: 1px lightgray solid;
    border-radius: 0.2rem;
    padding: 0.3em;
}

.dropdown-menu {
    position: fixed;
    right: 0;
    left: auto;
    top: auto;
    transform: translateX(-4em);
}

.nav-link .material-symbols-outlined {
    margin-right: 0.1em;
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin: 0em 0.5em 0.5em 0.5em;
}

.user-profile img {
    margin-right: 0.2em;
}

.card {
    padding: 0.5em;
}

#user-cards a {
    text-decoration: none;
}

.disabled-card {
    opacity: 60%;
}

.delete {
    border: none;
    width: 0em;
}